blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    border-left: 5px solid #eee;
    background: #f6f6f6;
<<<<<<< HEAD
}
=======
}
>>>>>>> c4b054f1349f2c6f42fe04b91233d587a67d5d8c
